NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" 
           elementFormDefault="qualified" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="NationalParks">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" name="NationalPark">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="Phone" type="xs:string" />
              <xs:element name="Address" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:unsignedInt" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Street" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="State" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Zip" type="xs:unsignedInt" minOccurs="1" maxOccurs="1"/>
                  </xs:sequence>
                  <xs:attribute name="NearestAirport" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Rating" type="xs:decimal" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
